header{
    background-color: rgb(81, 81, 81);
    padding: 2%;
}
body{
    background-color: rgb(120, 121, 122);
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
h4{
    color: aliceblue;
}
h5{
    color: aliceblue;
}
h6{
    color: aliceblue;
}
pre{
    color: aliceblue;
}
p{
    color: aliceblue;
}
label{
    color: aliceblue;
}