body{
    background-color: black;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
h4{
    color: aliceblue;
}
h5{
    color: aliceblue;
}
h6{
    color: aliceblue;
}
pre{
    color: aliceblue;
}
p{
    color: aliceblue;
}
label{
    color: aliceblue;
}